server:
  port: 8082
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  #        dialect: org.hibernate.dialect.MySQL57Dialect
#  flyway:
#    enabled: false
#    locations: classpath:db/migration

chave:

endpoints:
  configprops:
    enabled: true
  beans:
    enabled: true
  shutdown:
    enabled: true

management:
  endpoints:
    enabled-by-default: true
    sensitive: false
    enabled: true
    configprops:
      enabled: true
    beans:
      enabled: true
    shutdown:
      enabled: true
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.web.cors: DEBUG

file:
  upload_dir: "src/main/resources/static/images-perfil"

archive:
  sobe_img: "src/main/resources/static/images-products"

